@import "tailwindcss";

@layer base {
  body {
    background-color: rgb(249 250 251);
    color: rgb(17 24 39);
  }
  
  body.dark {
    background-color: rgb(17 24 39);
    color: rgb(243 244 246);
  }
}

@layer utilities {
  .line-clamp-2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}
